/* CSS для страницы 5*/
.page5-header1{
font: normal normal bold 40px/1.4em futura-en,sans-serif ;color:#2F2E2E;
color:#FFFFFF;
text-align: center;
position: relative;
top: 20px;

}


.page5-text{
font: normal normal normal 16px/1.4em futura-en, sans-serif ;
color:#FFFFFF;
text-align: justify;


}


.footer-text{
font: normal normal normal 14px/1.4em futura-en, sans-serif ;
color:#A0A09F;
text-align: center;


}
