/* Подключение внешних шрифтов */
@font-face {
	font-family: futura-en;
	src: url(../font/futura.ttf);
}

@font-face {
	font-family: open-sans-bold;
	src: url(../font/open-sans-bold.ttf);
}

/* Стили текста для страницы HOME */
.home-text{
  font: normal normal normal 16px/1.4em futura-en, sans-serif ;
  color: #FFFFFF;
  text-align: justify;
}

/* Стили текста для страницы THE IDEA*/
.idea-header{
font: normal normal normal 40px/1.4em futura-en, sans-serif ;color:#2F2E2E;
text-align: center;
position: relative;
top: -10px;
}

.idea-text{
  font: normal normal normal 16px/1.4em futura-en, sans-serif ;
  color:#000000;
  text-align: justify;
}



/* Стили текста для страницы ABOUT */
.about-header1{
  font: normal normal bold 40px/1.4em futura-en,sans-serif ;color:#2F2E2E;
  color:#CFDFF2;
  text-align: center;
  position: relative;
  top: 20px;
}

.about-header2{
font: normal normal normal 30px/1.4em futura-en, sans-serif ;color:#CFDFF2;
text-align: center;
position: relative;
top: -10px;
}

.about-text{
  font: normal normal normal 16px/1.4em futura-en, sans-serif ;
  color:#CFDFF2;
  text-align: justify;
}

/* Стили текста для страницы RECOMMENDATIONS */
.recom-header1{
font: normal normal bold 45px/1.4em futura-en,sans-serif ;color:#2F2E2E;
color:#2F2E2E;
text-align: center;
position: relative;
top: 20px;
}

.recom-text{
font: normal normal normal 16px/1.4em futura-en, sans-serif ;
color:#000000;
text-align: justify;
}

/* Стили текста для страницы DOWNLOAD */
.download-header1{
font: normal normal bold 40px/1.4em futura-en,sans-serif ;color:#2F2E2E;
color:#000000;
text-align: center;
position: relative;
top: 20px;
}

.download-text{
font: normal normal normal 16px/1.4em futura-en, sans-serif ;
color:#000000;
text-align: justify;
}

/* Стили текста для страницы CONTACTS */
.contacts-header1{
font: normal normal bold 40px/1.4em futura-en,sans-serif ;color:#2F2E2E;
color:#FFFFFF;
text-align: center;
position: relative;
top: 20px;
}

.contacts-text{
font: normal normal normal 16px/1.4em futura-en, sans-serif ;
color:#FFFFFF;
text-align: justify;
}


/* Стили текста подвала */
.footer-text{
font: normal normal normal 14px/1.4em futura-en, sans-serif ;
color:#A0A09F;
text-align: center;
}
