/* CSS Document */
@import url("./style_font.css");
@import url("./style_header.css");
@import url("./style_img.css");
@import url("./style_button.css");


.style-body{
  background-color: #41597D;
  margin: 0;
  padding: 0;
  max-width: 1920px;
  min-width: 900px;
}
